@page
@model SMSWeb.Pages.Users.CreateModel
@{
    ViewData["Title"] = "Create";
}
           
            <form method="post" onsubmit="disableButton(this)">
             
                    <div class="border p-3 mt-4">
                        <div class="row pb-2">
                            <h2 class="text-primary pl-3">Add Movies</h2>
                            <hr/>
                        </div>
                        
                        <div asp-validation-summary="All"></div>

                        <div class="mb-3">
                            <label asp-for="@Model.UserObj.Name" class="form-label">Name</label>
                            <input asp-for="@Model.UserObj.Name" class="form-control" />
                            <span asp-validation-for="@Model.UserObj.Name" class="text-danger"></span>
                        </div>
             
                          
                        <div class="mb-3">
                            <label asp-for="UserObj.Address" class="form-label">Address</label>
                            <input asp-for="UserObj.Address" class="form-control" />
                            <span asp-validation-for="UserObj.Address" class="text-danger"></span>
                        </div>
               

              
                        <div class="mb-3">
                            <label asp-for="@Model.UserObj.Phone" class="form-label">Phone</label>
                            <input asp-for="@Model.UserObj.Phone" class="form-control" />
                            <span asp-validation-for="@Model.UserObj.Phone" class="text-danger"></span>
                        </div>
              

             
                      

                        <button type="submit" id="submitButton" class="btn btn-primary">Save</button>
                    </div>

            </form>


@section Scripts{
    @{
      
        <partial name="_ValidationScriptsPartial"/>
    }

   <script>
        function disableButton(form){

            var submitButton = form.querySelector('#submitButton');
            if (submitButton)
           {
               
               submitButton.innerHTML = '<span class="spinner-border spinner-border-sm"></span>';
               submitButton.disabled=true;
           }
           
        }
    </script> 
}

