@page
@model SMSWeb.Pages.Users.IndexModel

@{
    ViewData["Title"] = "User List";
}
<partial name="_Notification" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">User List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-info " onclick="openRoleModal()"><i class="bi bi-plus-square-fill"></i>&nbsp;Roles</a>
            <a class="btn btn-info" onclick="openCreateModal()"><i class="bi bi-plus-square-fill"></i>&nbsp;Users</a>
           
       </div>
    </div>

    <br/></<br />

    <table class="table table-striped table-hover table-borderless table-dark table-responsive-md" >
        <thead class="table-primary">
            <tr>
            
                <th>@Html.DisplayNameFor(Model => Model.UserList.First().Name)</th> 
                <th>@Html.DisplayNameFor(Model => Model.UserList.First().Address)</th>
                <th>@Html.DisplayNameFor(Model => Model.UserList.First().Phone)</th>
               
             
              
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            @foreach(var obj in Model.UserList)
            {
                <tr >
                    <td>@obj.Name</td>
                    <td>@obj.Address</td>
                    <td>@obj.Phone</td>
                  
                    <td style="width: 1px; white-space: nowrap;">
                        @*class="p-0 small"  *@
                    <div class="w-50 btn-group-sm" role="group"> 
                        
                            <a class="btn btn-info btn-sm mx-2" onclick="openEditModal(@obj.Id)"><i class="bi bi-pencil"></i></a>
                            <a class="btn btn-danger btn-sm mx-2" onclick="openDeleteModal(@obj.Id)"><i class="bi bi-trash3-fill"></i> </a>

                            
                    </div>
                   </td>
                </tr>
            }
           
        </tbody>
    </table>
</div>

<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="editContent"></div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="createContent"></div>
    </div>
</div>

@await Component.InvokeAsync("Modal")

@section Scripts{
  <script src = "/js/site.js"> </script>
} 



