@page
@model MovieComponents.Pages.Movies.DetailsModel
@{
    ViewData["Title"] = "Detials";
}
    
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-12">
            <h2 class="text-primary">Movie List</h2>
        </div>
       
    </div>

    <br /></<br />
        
        
        <table class="table table-bordered table-striped" >
                   <thead>
                       <tr>
                           <th>@Html.DisplayNameFor(u=>u.MovieList.First().Title)</th>
                           <th>@Html.DisplayNameFor(u=>u.MovieList.First().ReleaseDate)</th>
                           <th>@Html.DisplayNameFor(u=>u.MovieList.First().Genre)</th>
                           <th>@Html.DisplayNameFor(u=>u.MovieList.First().Price)</th>
                       </tr>
                   </thead>
                   <tbody>
                  
                         @foreach(var item in Model.MovieList)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.ReleaseDate</td>
                                    <td>@item.Genre</td>
                                    <td>@item.Price</td>
                                </tr>
                
                            }
                   
                   </tbody>
               </table>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

