@page
@model MovieComponents.Pages.Movies.EditModel
@{
    ViewData["Title"] = "Edit";
}
            <form method="post">
                    <input hidden asp-for="@Model.MovieObj.Id" />
                    
                    <div class="border p-3 mt-4">
                        <div class="row pb-2">
                            <h2 class="text-primary pl-3">Edit Movies</h2>
                            <hr/>
                        </div>
                        
                        <div asp-validation-summary="All"></div>

                        <div class="mb-3">
                             <label asp-for="@Model.MovieObj.Title" class="form-label">Title</label>
                            <input asp-for="@Model.MovieObj.Title" class="form-control" />
                            <span asp-validation-for="@Model.MovieObj.Title" class="text-danger"></span>
                        </div>
             
                          
                        <div class="mb-3">
                            <label asp-for="MovieObj.ReleaseDate" class="form-label">Release Date</label>
                             <input asp-for="MovieObj.ReleaseDate" class="form-control" />
                             <span asp-validation-for="MovieObj.ReleaseDate" class="text-danger"></span>
                        </div>
               

              
                        <div class="mb-3">
                            <label asp-for="@Model.MovieObj.Genre" class="form-label">Genre</label>
                            <input asp-for="@Model.MovieObj.Genre" class="form-control" />
                            <span asp-validation-for="@Model.MovieObj.Genre" class="text-danger"></span>
                        </div>
              

             
                        <div class="mb-3">
                            <label asp-for="MovieObj.Price" class="form-label">Price</label>
                            <input asp-for="MovieObj.Price" class="form-control" />
                            <span asp-validation-for="MovieObj.Price" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>

            </form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

